<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhhDTec_MqD1hKRx0MFBpJl2qpP3bwVsE</string>
	<key>GCM_SENDER_ID</key>
	<string>1053456216849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasonsapps.carnivoredietguide</string>
	<key>PROJECT_ID</key>
	<string>carnivore-diet-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>carnivore-diet-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053456216849:ios:c0a77a973450d8006ad2b0</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1475400719226569~6334546540</string>
</dict>
</plist>